{% extends 'base.html' %}
{% load unicorn %}
{% block content %}
  <header class="w-full h-14 justify-between flex items-center shadow bg-gray-200 p-4 rounded gap-6">
      <div class="flex items-center gap-2 justify-between flex-grow">
        <!--BRAND-->
        <div class="text-xssm:text-xl font-bold underline underline-offset-4 decoration-red-400 decoration-wavy decoration-2"><strong class="font-serif">Tailwind</strong> <strong class="font-mono">Comments</strong></div>
      </div>
      <button class="p-1 relative">
        <small class="absolute -top-1 right-0.5 bg-red-400 p-1 h-3 w-3 rounded-2xl text-gray-100 flex justify-center items-center text-xs">2</small>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6 ml-auto transition animate-bounce"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
        
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"
          />
        </svg>
      </button>
    </header>

    {% unicorn 'comments' %}

    <footer class="w-full max-w-container mx-auto border-t py-10 text-center flex items-center justify-center text-sm text-gray-500 ">
      <p>© 2021 All rights reserved.</p>
      <p class="ml-3 border-l border-gray-200 pl-3">
        <a class="hover:text-teal-600" href="#">Terms</a>
      </p>
    </footer>
{% endblock content %}